Django==5.1
django_invitations==2.1.0
django-allauth==65.9.0
django_crispy_forms==2.1
crispy_bootstrap5==2024.2
django-environ==0.11.2
psycopg2-binary==2.9.9
django-gmailapi-backend==0.3.2
# django-direct-cloud-upload==0.3.0
git+https://github.com/danielroseman/django-direct-cloud-upload
django-swingtime==1.5.2
Markdown==3.7
mailchimp-marketing==3.0.80
