{% extends "account/email/base.html" %}
{% block title %}Password Reset Request{% endblock %}

{% block content %}{% autoescape off %}
<p>You're receiving this email because you or someone else has requested a password reset for your user account. It can be safely ignored if you did not request a password reset. Click the link below to reset your password.</p>

<p><a href="{{ password_reset_url }}">{{ password_reset_url }}</a></p>

{% if username %}
<p>
In case you forgot, your username is {{ username }}.
</p>
{% endif %}{% endautoescape %}{% endblock content %}
