{% extends 'admin/change_form.html' %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script>
django.jQuery(document).ready(function($) {
  const content_container = $('<div id="content_container"><div id="toolbar"></div></div>')
  content_container.insertBefore($('#id_content'))
  $('#id_content').appendTo(content_container);
  const tinyMDE = new TinyMDE.Editor({ textarea: "id_content" });
  const commandBar = new TinyMDE.CommandBar({
    element: "toolbar",
    editor: tinyMDE,
  });
});

</script>
{% endblock %}

