:root {
  --bs-body-font-family: Rubik, Arial, Helvetica, sans-serif;
}

li.file-list { list-style-type: none }

table.song-table { width: initial }

.modal-dialog {
  height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
}
.modal-content {
  height: 100%; /* = 100% of the .modal-dialog block */
}

.month-view {
  border: 0.5px solid var(--bs-body-color);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: calc(0.5rem + 0.5vw);
}

.month-view .day {
  border: 0.5px solid var(--bs-gray-300);
  overflow: hidden;
  padding: 5px 10px 5px 5px;
  aspect-ratio: 2/3;
}

@media (min-width: 576px) {
  .month-view .day {
    aspect-ratio: 1.5;
  }
}


.month-view-header {
  border-bottom: 0.5px solid var(--bs-body-color);
  background-color: var(--bs-gray-100);
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.current-month .today {
  background-color: rgba(255,220,40,.15);
}

.event-item-all-day {
  background-color: var(--bs-gray-200);
  border-radius: 5px;
  padding: 2px;
}
