{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>{{ song.name }}</h1>
<ul>
  {% for file in song.file_set.all %}
  <li class="file-list">
    <a href="{{ file.file_url }}"><img src="{% static "file-earmark" %}{% if file.filetype == 'pdf' %}-pdf{% elif file.filetype == 'mp3' %}-music{% endif %}.svg" alt="{{ file.filetype.upper }} file" height="24px" width="24px"> {{ file.name }}</li>
  {% endfor %}
</ul>


<a href="{% if song.current %}{% url "songs" %}{% else %}{% url "all_songs" %}{% endif %}">Back to songs list</a>
{% endblock %}
