{% extends "base.html" %}
{% block title %}Monthly View{% endblock %}
{% block content %}
    <h3>Calendar</h3>
    <h4>
        <a class="plain" href="{% url 'swingtime-monthly-view' last_month.year last_month.month %}" 
           title="Last Month">&larr;</a>
        {{ this_month|date:"F Y" }}
        <a class="plain" href="{% url 'swingtime-monthly-view' next_month.year next_month.month %}" 
           title="Next Month">&rarr;</a>
    </h4>
    <div class="container-md mb-3 month-view">
        <div class="row bg-primary-subtle">
          <div class="col p-3">Sun</div>
          <div class="col p-3">Mon</div>
          <div class="col p-3">Tue</div>
          <div class="col p-3">Wed</div>
          <div class="col p-3">Thu</div>
          <div class="col p-3">Fri</div>
          <div class="col p-3">Sat</div>
        </div>
        <div>
            {% for row in calendar %}
            <div class="row" style="min-height: 4rem;">
                {% for day,items in row  %}
                <div class="border col{% if day == today.day %} today{% endif %}">
                {% if day %}
                <div class="day-ordinal">{{ day }}</div>
                    {% if items %}
                    <ul class="list-unstyled">{% for item in items %}
                        <li>
                                <span class="event-times">{{ item.start_time|time:"H:i" }}</span>
                                {{ item.title }}</a>
                        </li>{% endfor %}
                    </ul>
                    {% endif %}
                {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
